<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="Amministratore"/>
        <allow roles="Socio"/>
        <allow roles="Membro del consiglio"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    <location path="BODReportCreate.aspx">
      <system.web>
        <authorization>
          <allow roles="Amministratore"/>
          <allow roles="Membro del consiglio"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
</configuration>
