<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<toolbars>
		<item type="g_start" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="RemoveFormat" imagename="unformat" />
		<item type="forecolor" />
		<item type="backcolor" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertOrderedList" imagename="numlist" />
		<item type="image" name="InsertUnorderedList" imagename="bullist" />
		<item type="image" name="Indent" />
		<item type="image" name="Outdent" />
		<item type="image" name="InsertHorizontalRule" imagename="rule" />
		<item type="image" name="SelectAll" hotkey="CTRL+A" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />		
	</toolbars>
</configuration>